{{> navbar}}
<br/>

<h1>Listado de productos</h1>
{{#if productsExist}}
    <table>
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Foto</th>
    </tr>
    </thead>
    <tbody>
    {{#each products}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.price}}</td>
            <td><img src="{{this.thumbnail}}" class="product-img"/></td>
        </tr>
    {{/each}}
    </tbody>
    </table>
{{/if}}

<br/>
{{> footer}}
<br/>

